:root {
    --fs-sm: 12px;    
    --fs-md: 14px;
    --fs-lg: 14px;
    --fs-xl: 18px;
    --fs-2xl: 23px; 
    --fs-3xl: 20px;
    --fs-4xl: 32px;
    --fs-5xl: 38px;
    --fs-6xl: 42px;
    
    --line-height-16: 16px;
    --line-height-18: 18px;
    --line-height-21: 21px;
    --line-height-23: 23px;
    --line-height-24: 24px;
    --line-height-26: 26px;
    --line-height-27: 27px;
    --line-height-30: 30px;
    --line-height-36: 36px;
    --line-height-46: 46px;
    --line-height-56: 56px;
    --line-height-71: 60px;

    --white: white;
    --orangered: #F14F09;
    --orange: #FD9B2B;
    --black: black;
    --shadow: #0000000A;
    --loder-bg: #FFF1EA;
}
.line-height-16{
    line-height: var(--line-height-16);   
}
.line-height-18{
    line-height: var(--line-height-18);
}
.line-height-21{
    line-height: var(--line-height-21);
}
.line-height-23{
    line-height: var(--line-height-23);
}
.line-height-24{
    line-height: var(--line-height-24);
}
.line-height-26{
    line-height: var(--line-height-26);
}
.line-height-27{
    line-height: var(--line-height-27);
}
.line-height-30{
    line-height: var(--line-height-30);
}
.line-height-36{
    line-height: var(--line-height-36);
}
.line-height-46{
    line-height: var(--line-height-46);
}
.line-height-56{
    line-height: var(--line-height-56);
}
.line-height-71{
    line-height: var(--line-height-71);
}
/* ----------font-size */
.fs-sm{
    font-size: var(--fs-sm);
}
.fs-md{
    font-size: var(--fs-md);
}
.fs-lg{
    font-size: var(--fs-lg);
}
.fs-xl{
    font-size: var(--fs-xl);
}
.fs-2xl{
    font-size: var(--fs-2xl);
}
.fs-3xl{
    font-size: var(--fs-3xl);
}
.fs-4xl{
    font-size: var(--fs-4xl);
}
.fs-5xl{
    font-size: var(--fs-5xl);
}
.fs-6xl{
    font-size: var(--fs-6xl);
}
@media (min-width:575px) {
    :root {
        --fs-sm: 12px;    
        --fs-md: 14px;
        --fs-lg: 16px;
        --fs-xl: 20px;
        --fs-2xl: 23px;
        --fs-3xl: 24px;
        --fs-4xl: 40px;
        --fs-5xl: 48px;
        --fs-6xl: 61px;            
    
        --line-height-16: 16px;
        --line-height-18: 18px;
        --line-height-21: 21px;
        --line-height-23: 23px;
        --line-height-24: 24px;
        --line-height-26: 26px;
        --line-height-27: 27px;
        --line-height-30: 30px;
        --line-height-36: 36px;
        --line-height-46: 46px;
        --line-height-56: 56px;
        --line-height-71: 71px;                          
    }   
}
@media (min-width:992px) {
    :root{
        --fs-sm: 12px;    
        --fs-md: 14px;
        --fs-lg: 16px;
        --fs-xl: 20px;
        --fs-2xl: 23px;
        --fs-3xl: 24px;
        --fs-4xl: 40px;
        --fs-5xl: 48px;
        --fs-6xl: 61px;
        
        --line-height-16: 16px;
        --line-height-18: 18px;
        --line-height-21: 21px;
        --line-height-23: 23px;
        --line-height-24: 24px;
        --line-height-26: 26px;
        --line-height-27: 27px;
        --line-height-30: 30px;
        --line-height-36: 36px;
        --line-height-46: 46px;
        --line-height-56: 56px;
        --line-height-71: 71px;
    }   
}